<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Apple Store Online Holiday Gifts - Apple (IN) </title>
    <link rel="stylesheet" href="style.css">
    <link rel="icon" href="/images/tutorials-apple.png">
</head>
<body>
    <div class="navbar">
        <div class="space"></div>
        <svg height="44" viewBox="0 0 14 44" width="14" xmlns="http://www.w3.org/2000/svg">
            <path d="m13.0729 17.6825a3.61 3.61 0 0 0 -1.7248 3.0365 3.5132 3.5132 0 0 0 2.1379 3.2223 8.394 8.394 0 0 1 -1.0948 2.2618c-.6816.9812-1.3943 1.9623-2.4787 1.9623s-1.3633-.63-2.613-.63c-1.2187 0-1.6525.6507-2.644.6507s-1.6834-.9089-2.4787-2.0243a9.7842 9.7842 0 0 1 -1.6628-5.2776c0-3.0984 2.014-4.7405 3.9969-4.7405 1.0535 0 1.9314.6919 2.5924.6919.63 0 1.6112-.7333 2.8092-.7333a3.7579 3.7579 0 0 1 3.1604 1.5802zm-3.7284-2.8918a3.5615 3.5615 0 0 0 .8469-2.22 1.5353 1.5353 0 0 0 -.031-.32 3.5686 3.5686 0 0 0 -2.3445 1.2084 3.4629 3.4629 0 0 0 -.8779 2.1585 1.419 1.419 0 0 0 .031.2892 1.19 1.19 0 0 0 .2169.0207 3.0935 3.0935 0 0 0 2.1586-1.1368z"></path></svg>
        
            <div class="nav">
                <ul>
                    <li>Store
                        <div class="dropdown">
                            <ul>
                                <div class="menuarea">
                                    <p>Shop</p>
                                    <h2>Shop the Latest</h2>
                                    <h2>Mac</h2>
                                    <h2>iPad</h2>
                                    <h2>iPhone</h2>
                                    <h2>Apple Watch</h2>
                                    <h2>Accessories</h2>
                                </div>
    
                                <div class="menuarea">
                                    <p>Quick Links</p>
                                    <li>Shop Holiday Gifts</li>
                                    <li>Find a Store</li>
                                    <li>Order Status</li>
                                    <li>Ways to Buy</li>
                                </div>
    
                                <div class="menuarea">
                                    <p>Shop Special Stores</p>
                                    <li>Education</li>
                                    <li>Business</li>
                                </div>
                                
                                
                           
                            </ul>
                        </div>
                    </li>
                    <li>Mac
                        <div class="dropdown">
                            <ul>
                         
                                <div class="menuarea">
                                    <p>Explore Mac</p>
                                    <h2>Explore All Mac</h2>
                                    <h2>MacBook Air</h2>
                                    <h2>MacBook Pro</h2>
                                    <h2>iMac</h2>
                                    <h2>Mac mini</h2>
                                    <h2>Mac Studio</h2>
                                    <h2>Mac Pro</h2>
                                    <h2>Displays</h2>
                                    <li>Compare Mac</li>
                                    <li> Switch from PC to Mac</li>
                                </div>
                                
                                <div class="menuarea">
                                    <p>Shop Mac</p>
                                    <li>Shop Mac</li>
                                    <li>Mac Accessories</li>
                                    <li>Ways to Buy</li>
                                </div>
                              
                                <div class="menuarea">
                                    <p>More from Mac</p>
                                    <li>Mac Support</li>
                                    <li>AppleCare+ for Mac</li>
                                    <li>macOS Sequoia</li>
                                    <li>Apple Intelligence</li>
                                    <li>Apps by Apple</li>
                                    <li>Continuity</li>
                                    <li>iCloud+</li>
                                    <li>Mac for Business</li>
                                    <li>Education</li>
                                </div>
                              
                           
                            </ul>
                        </div>
                    </li>
                    <li>iPad
                        <div class="dropdown">
                            <ul>
                          
                                <div class="menuarea">
                                    <p>Explore iPad</p>
                                    <h2>Explore All iPad</h2>
                                    <h2>iPad Pro</h2>
                                    <h2>iPad Air</h2>
                                    <h2>iPad</h2>
                                    <h2>iPad mini</h2>
                                    <h2>Apple Pencil</h2>
                                    <h2>Keyboards</h2>
                                    <li>Compare iPad</li>
                                    <li> Why iPad</li>
                                </div>

                                <div class="menuarea">
                                    <p>Shop iPad</p>
                                    <li>Shop iPad</li>
                                    <li>iPad Accessories</li>
                                    <li>Ways to Buy</li>
                                </div>
                         
                                <div class="menuarea">
                                    <p>More from iPad</p>
                                    <li>iPad Support</li>
                                    <li>iPadOS 18 Apple Intelligence</li>
                                    <li>Apps by Apple</li>
                                    <li>Apple Intelligence</li>
                                    <li>Apps by Apple</li>
                                    <li>iCloud+</li>
                                    <li>Education</li>
                                </div>
                              
                           
                            </ul>
                        </div>
                    </li>
                    <li>iPhone
                        <div class="dropdown">
                            <ul>
                         
                                <div class="menuarea">
                                    <p>Explore iPhone</p>
                                    <h2>Explore All iPhone</h2>
                                    <h2>iPhone 16 Pro</h2>
                                    <h2>iPhone 16</h2>
                                    <h2>iPhone 15</h2>
                                    <h2>iPad mini</h2>
                                    <h2>iPhone 14</h2>
                                    <h2>iPhone SE</h2>
                                    <li>Compare iPhone</li>
                                    <li>Switch from Android</li>
                                </div>
                                
                                <div class="menuarea">
                                    <p>Shop iPhone</p>
                                    <li>Shop iPhone</li>
                                    <li>iPhone Accessories</li>
                                    <li>Apple Trade In</li>
                                    <li>Ways to Buy</li>
                                </div>
                             
                                <div class="menuarea">
                                    <p>More from iPhone</p>
                                    <li>iPhone Support</li>
                                    <li>AppleCare+ for iPhone</li>
                                    <li>ios 18</li>
                                    <li>Apple Intelligence</li>
                                    <li>Apps by Apple</li>
                                    <li>iCloud+</li>
                                    <li>Wallet</li>
                                    <li>Siri</li>
                                </div>
                              
                           
                            </ul>
                        </div>
                    </li>
                    <li>Watch
                        <div class="dropdown">
                            <ul>
                       
                                <div class="menuarea">
                                    <p>Explore Watch</p>
                                    <h2>Explore All Apple Watch</h2>
                                    <h2>Apple Watch Series 10</h2>
                                    <h2>Apple Watch Ultra 2</h2>
                                    <h2>Apple Watch SE</h2>
                                    <h2>Apple Watch Nike</h2>
                                    <li>Compare Watch</li>
                                    <li>Why Apple Watch</li>
                                </div>
 
                                <div class="menuarea">
                                    <p>Shop Watch</p>
                                    <li>Shop Apple Watch</li>
                                    <li>Apple Watch Straps</li>
                                    <li>Apple Watch Accessories</li>
                                    <li>Ways to Buy</li>
                                </div>
                               

                                <div class="menuarea">
                                    <p> More from Watch</p>
                                    <li>Apple Watch Support</li>
                                    <li>AppleCare+</li>
                                    <li>watchOS 11</li>
                                    <li>Apple Watch For Your Kids</li>
                                    <li>Apps by Apple</li>
                                </div>
                              
                            </ul>
                        </div>
                    </li>
                    <li>AirPods
                        <div class="dropdown">
                            <ul>
                            
                                <div class="menuarea">
                                    <p>Explore AirPods</p>
                                    <h2>Explore All AirPods</h2>
                                    <h2>AirPods 4</h2>
                                    <h2>AirPods Pro 2</h2>
                                    <h2>AirPods Max</h2>
                                    <li>Compare AirPods</li>
                                </div>
                                
                                
                                
                                <div class="menuarea">
                                    <p>Shop AirPods</p>
                                    <li>Shop AirPods</li>
                                    <li>AirPods Accessories</li>
                                </div>
                               

                                <div class="menuarea">
                               
                                    <p>More from AirPods</p>
                                    <li>AirPods Support</li>
                                    <li>AppleCare+ for Headphones</li>
                                    <li>Apple Music</li>
                                </div>
                              
                            </ul>
                        </div>
                    </li>
                    <li>TV & Home
                        <div class="dropdown">
                            <ul>
                            
                                <div class="menuarea">
                                    <p>Explore TV & Home</p>
                                    <h2>Explore TV & Home</h2>
                                    <h2>Apple TV 4K</h2>
                                    <h2>HomePod</h2>
                                    <h2>HomePod mini</h2>
                                   
                                </div>
                                
                                <div class="menuarea">
                                    <p> Shop TV & Home</p>
                                    <li>Shop Apple TV 4K</li>
                                    <li>Shop HomePod</li>
                                    <li>Shop HomePod mini</li>
                                    <li>Shop Siri Remote</li>
                                    <li>TV & Home Accessories</li>
                                </div>
                               
                                <div class="menuarea">
                               
                                    <p>More from TV & Home</p>
                                    <li>Apple TV Support</li>
                                    <li>HomePod Support</li>
                                    <li>AppleCare+</li>
                                    <li>Apple TV app</li>
                                    <li>Apple TV+</li>
                                    <li>Home app</li>
                                    <li>Apple Music</li>
                                    <li>Siri</li>
                                    <li>AirPlay</li>
                                </div>
                              
                            </ul>
                        </div>
                    </li>
                    <li>Entertainment
                        <div class="dropdown">
                            <ul>
                            
                                <div class="menuarea">
                                    <p>Explore Entertainment</p>
                                    <h2>Explore Entertainment</h2>
                                    <h2>Apple One</h2>
                                    <h2>Apple TV+</h2>
                                    <h2>Apple Music</h2>
                                    <h2>Apple Arcade</h2>
                                    <h2>Apple Podcasts</h2>
                                    <h2>Apple Books</h2>
                                    <h2>App Store</h2>
                                   
                                </div>
                            
                                <div class="menuarea">
                                    <p>Support</p>
                                    <li>Apple TV+ Support</li>
                                    <li>Apple Music Support</li>
                                </div>
                               
                              
                            </ul>
                        </div>
                    </li>
                    <li>Accessories
                        <div class="dropdown">
                            <ul>
                          
                                <div class="menuarea">
                                    <p>Shop Accessories</p>
                                    <h2>Shop All Accessories</h2>
                                    <h2>Mac</h2>
                                    <h2>iPad</h2>
                                    <h2>iPhone</h2>
                                    <h2>Apple Watch</h2>
                                    <h2>AirPods</h2>
                                    <h2>TV & Home</h2>
                                   
                                </div>
                          
                                <div class="menuarea">
                                    <p>Explore Accessories</p>
                                    <li>Made by Apple</li>
                                    <li>Beats by Dr. Dre</li>
                                    <li>AirTag</li>
                                </div>
                               
                              
                            </ul>
                        </div>
                    </li>
                    <li>Support
                        <div class="dropdown">
                            <ul>
                            
                                <div class="menuarea">
                                    <p>Explore Support</p>
                                    <h2>iPhone</h2>
                                    <h2>Mac</h2>
                                    <h2>iPad</h2>
                                    <h2>Watch</h2>
                                    <h2>AirPods</h2>
                                    <h2>Music</h2>
                                    <h2>TV</h2>
                                    <li>Explore Support</li>
                                   
                                </div>
                                
                                <div class="menuarea">
                                    <p>Get Help</p>
                                    <li>Community</li>
                                    <li>Check Coverage</li>
                                    <li>Repair</li>
                                </div>
                               
                                <div class="menuarea">
                               
                                    <p>More from TV & Home</p>
                                    <li>Apple TV Support</li>
                                    <li>HomePod Support</li>
                                    <li>AppleCare+</li>
                                    <li>Apple TV app</li>
                                    <li>Apple TV+</li>
                                    <li>Home app</li>
                                    <li>Apple Music</li>
                                    <li>Siri</li>
                                    <li>AirPlay</li>
                                </div>
                              
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
            <svg xmlns="http://www.w3.org/2000/svg" width="15px" height="44px" viewBox="0 0 15 44">
                <path d="M14.298,27.202l-3.87-3.87c0.701-0.929,1.122-2.081,1.122-3.332c0-3.06-2.489-5.55-5.55-5.55c-3.06,0-5.55,2.49-5.55,5.55 c0,3.061,2.49,5.55,5.55,5.55c1.251,0,2.403-0.421,3.332-1.122l3.87,3.87c0.151,0.151,0.35,0.228,0.548,0.228 s0.396-0.076,0.548-0.228C14.601,27.995,14.601,27.505,14.298,27.202z M1.55,20c0-2.454,1.997-4.45,4.45-4.45 c2.454,0,4.45,1.997,4.45,4.45S8.454,24.45,6,24.45C3.546,24.45,1.55,22.454,1.55,20z"></path>
              </svg>

              <svg height="44" viewBox="0 0 14 44" width="14" xmlns="http://www.w3.org/2000/svg">
                <path d="m11.3535 16.0283h-1.0205a3.4229 3.4229 0 0 0 -3.333-2.9648 3.4229 3.4229 0 0 0 -3.333 2.9648h-1.02a2.1184 2.1184 0 0 0 -2.117 2.1162v7.7155a2.1186 2.1186 0 0 0 2.1162 2.1167h8.707a2.1186 2.1186 0 0 0 2.1168-2.1167v-7.7155a2.1184 2.1184 0 0 0 -2.1165-2.1162zm-4.3535-1.8652a2.3169 2.3169 0 0 1 2.2222 1.8652h-4.4444a2.3169 2.3169 0 0 1 2.2222-1.8652zm5.37 11.6969a1.0182 1.0182 0 0 1 -1.0166 1.0171h-8.7069a1.0182 1.0182 0 0 1 -1.0165-1.0171v-7.7155a1.0178 1.0178 0 0 1 1.0166-1.0166h8.707a1.0178 1.0178 0 0 1 1.0164 1.0166z"></path></svg>
           

    </div>
    
    <div class="nav2">
        Get up to ₹10000.00 instant cashback with eligible cards.§§ Plus up to 12 months of No Cost EMI.§ <span>See offers</span>
    </div>

    <div class="nav3"></div>

    <div class="box">
        <div class="empty"></div>
        <div class="line">
            <div class="empty"></div>
            <div class="color">
                <h1>Store.</h1>
                <span>Gift magic this holiday.</span>
            </div>
        </div>
        <div class="followers">
            <div class="empty"></div>
            <div class="profile">
                <img width="35" height="35" alt="" src="https://store.storeimages.cdn-apple.com/4668/as-images.apple.com/is/store-chat-holiday-specialist-icon-202411_AV2?wid=70&amp;hei=70&amp;fmt=jpeg&amp;qlt=90&amp;.v=1728685028395">
                <span>Need shopping help?</span>
            </div>
            <p>Ask a Specialist</p>
            <div class="profile">
                <img width="35" height="35" alt="" src="https://store.storeimages.cdn-apple.com/4668/as-images.apple.com/is/store-chat-holiday-specialist-icon-202411?wid=70&amp;hei=70&amp;fmt=jpeg&amp;qlt=90&amp;.v=1728685040609">
                <span>Visit an Apple Store</span>
            </div>
            <p>Find one near one</p>
        </div>
    </div>

    <div class="items">
        <div class="empty"></div>
        <div class="apple">
            <img src="/images/store-card-13-mac-nav-202410.png" alt="">
            <span>Mac</span>
        </div>

        <div class="apple">
            <img src="/images/store-card-13-iphone-nav-202409_GEO_EMEA.png" alt="">
            <span>iPhone</span>
        </div>

        <div class="apple">
            <img src="/images/store-card-13-ipad-nav-202405.png" alt="">
            <span>iPad</span>
        </div>

        <div class="apple">
            <img src="/images/store-card-13-watch-nav-202409.png" alt="">
            <span>Watch</span>
        </div>

        <div class="apple">
            <img src="/images/store-card-13-airpods-nav-202409.png" alt="">
            <span>AirPods</span>
        </div>

        <div class="apple">
            <img src="/images/store-card-13-airtags-nav-202108.png" alt="">
            <span>AirTag</span>
        </div>

        <div class="apple">
            <img src="/images/store-card-13-appletv-nav-202210.png" alt="">
            <span>AppleTV</span>
        </div>

        <div class="apple">
            <img src="/images/store-card-13-homepod-nav-202301.png" alt="">
            <span>HomePod</span>
        </div>

        <div class="apple">
            <img src="/images/store-card-13-accessories-nav-202409.png" alt="">
            <span>Accessories</span>
        </div>
    </div>

    <div class="line">
        <div class="colorr">
            <div class="empty"></div>
            <h1>The Latest.</h1>
            <span>Let them unwrap wonders.</span>
        </div>
    </div>

   <div class="cards">
    <div class="empty"></div>
       <div class="card">
        <p>BUILT FOR APPLE INTELLIGENCE</p>
        <h1>iPhone 16 Pro</h1>
        <span>From ₹119900.00</span>
       </div>

       <div class="card2">
        <p><br></p>
        <h1>Apple Watch Series 10</h1>
        <span>From ₹46900.00</span>
       </div>

       <div class="card3">
        <p>BUILT FOR APPLE INTELLIGENCE</p>
        <h1>MacBook Pro</h1>
        <span>From ₹169900.00</span>
       </div>
   </div>
    
    <div class="line">
       <div class="colorr">
            <div class="empty"></div>
            <h1>Personalisation.</h1>
            <span>Just for them, just for you.</span>
        </div>
    </div>


    <div class="cards">
        <div class="empty"></div>
           <div class="card4">
            <p><br></p>
            <h1>Make their gift</h1>
            <h1>one of kind</h1>
           </div>
    
           <div class="card5">
            <p>Free Engraving</p>
            <h3>AirPods 4 with Active Noise </h3>
            <h3>Cancellation</h3>
            <br>
            <span>MRP ₹17900.00 (Incl. of all taxes) </span>
           </div>

           <div class="card6">
            <p>Free Engraving</p>
            <h3>AirPods Pro 2</h3>
            <h3><br></h3>
            <br>
            <span>MRP ₹24900.00 (Incl. of all taxes) </span>
           </div>

           <div class="card7">
            <p>Free Engraving</p>
            <h3>Apple Pencil Pro</h3>
            <h3><br></h3>
            <br>
            <span>MRP ₹11900.00 (Incl. of all taxes) </span>
           </div>
    
           
    </div>

    <div class="line">
        <div class="colorr">
             <div class="empty"></div>
             <h1>Holiday picks.</h1>
             <span>Add more magic to the moment.</span>
         </div>
     </div>


     <div class="cards">
        <div class="empty"></div>
           <div class="card8">
            <p><br></p>
            <h2>Surprise your favourites </h2>
            <h2>with these favourites.</h2>
           </div>
    
           <div class="card9">
            <p>New Colours</p>
            <h3>AirPods Max - Starlight</h3>
            <h3><br></h3>
            <br>
            <span>MRP ₹59900.00 (Incl. of all taxes) </span>
           </div>

           <div class="card10">
             <p><br></p>
            <h3>iPhone 16 Silicone Case with</h3>
            <h3>MagSafe – Star Fruit</h3>
            <br>
            <span>MRP ₹4900.00 (Incl. of all taxes) </span>
           </div>

           <div class="card11">
            <p><br></p> 
            <h3>Apple TV 4K Wi‑Fi + Ethernet</h3>
            <h3>with 128GB storage</h3>
            <br>
            <span>MRP ₹16900.00 (Incl. of all taxes) </span>
           </div>
    
           
    </div>

    <div class="line">
        <div class="colorr">
             <div class="empty"></div>
             <h1>Special stores.</h1>
             <span>Exclusive savings for students and educators.</span>
         </div>
     </div>


     <div class="cards">
        <div class="empty"></div>
           <div class="card12">
            <p><br></p>
            <h2>Buy a new Mac or iPad </h2>
            <h2>with education savings.</h2>
           </div>
     </div>

     <div class="last">
        <div class="two">
            <div class="straight"></div>     
         </div>
         <div class="footer">
            <div class="part1">
                <span>Shop and Learn</span>
                <div class="all">
                    <p>Store</p>
                    <p>Mac</p>
                    <p>iPad</p>
                    <p>iPhone</p>
                    <p>Watch</p>
                    <p>AirPods</p>
                    <p>TV & Home</p>
                    <p>AirTag</p>
                    <p>Accessories</p>
                    <p>Gift Cards</p>
                   
                </div>
                <span>Apple Wallet</span>
                <div class="all">
                    <p>Wallet</p>
                </div>
            </div>
          
            <div class="part1">
                <span>Account</span>
                <div class="all">
                    <p>Manage Your Apple Account</p>
                    <p>Apple Store Account</p>
                    <p>iCloud.com</p>
            
                   
                </div>
                <span>Entertainment</span>
                <div class="all">
                    <p>Apple One</p>
                    <p>Apple One</p>
                    <p>Apple TV+</p>
                    <p>Apple Music</p>
                    <p>Apple Arcade</p>
                    <p>Apple Podcasts</p>
                    <p>Apple Books</p>
                    <p>App Store</p>
                </div>
            </div>
           
            <div class="part1">
                <span> Apple Store</span>
                <div class="all">
                    <p>Find a Store</p>
                    <p>Genius Bar</p>
                    <p>Today at Apple</p>
                    <p>Ways to Buy</p>
                    <p>Apple Trade In</p>
                    <p>Recycling Programme</p>
                    <p>Order Status</p>
                    <p>Shopping Help</p>
            
                   
                </div>
                
            </div>
         
            <div class="part1">
                <span>For Business</span>
                <div class="all">
                    <p>Apple and Business</p>
                   
                </div>
                <span>For Education</span>
                <div class="all">
                    <p>Apple and Education</p>
                    <p>Shop for Education</p>
                    <p>Shop for University</p>
                   
                </div>
                <span>For Healthcare</span>
                <div class="all">
                    <p>Apple in Healthcare</p>
                    <p>Health on Apple Watch</p>
                   
                   
                </div>
    
            </div>
       
            <div class="part1">
                <span>Apple Values</span>
                <div class="all">
                    <p>Accessibility</p>
                    <p>Environment</p>
                    <p>Privacy</p>
                    <p>Supply Chain</p>
            
                   
                </div>
                <span>About Apple</span>
                <div class="all">
                    <p>Newsroom</p>
                    <p>Apple Leadership</p>
                    <p>Career Opportunities</p>
                    <p>Investors</p>
                    <p>Ethics & Compliance</p>
                    <p>Events</p>
                    <p>Contact Apple</p>
                    
                </div>
            </div>
    
         </div>
    
         <div class="part2">
            <div class="all">
                <p>More ways to shop: <span>Find an Apple Store</span> or <span>other retailer</span> near you. Or call 000800 040 1966.</p>
        
             </div>
         </div>
    
         <div class="two">
            <div class="straight"></div>     
         </div>
    
         <div class="part2">
            <div class="all">
                 <p>Copyright © 2024 Apple Inc. All rights reserved.     Privacy Policy |  Terms of Use | Sales Policy | Legal | Site Map</p>
             </div>
         </div>
    
     </div>
    
</body>
</html>