<%- include("partials/navbar") %>
<form method="POST">
<input name="title" placeholder="Title"><br>
<textarea name="ingredients" placeholder="Ingredients"></textarea><br>
<textarea name="steps" placeholder="Steps"></textarea><br>
<button>Add Recipe</button>
</form>